<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/style.css" rel="stylesheet">
	<title><%= todo.title %> - TODO list</title>
</head>
<body>
	<div id="todoDetail">
		<%- include('_todo') %>
	</div>
	<p>
		<a href="/">back to the list</a>
	</p>

	<script>
		const ws = new WebSocket('ws://localhost:3000');

		ws.addEventListener('message', (message) => {
			const payload = JSON.parse(message.data);
			if (payload.type === '<%= todo.id %>') {
				document.getElementById('todoDetail').innerHTML = payload.html;
				document.title = `${payload.todoTitle} - TODO list`;
			}
  		});
	</script>
</body>
</html>
