<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/style.css" rel="stylesheet">
	<title>TODO list</title>
</head>
<body>
	<h1>TODO list</h1>
	<div id="todoList">
		<%- include('_todos') %>
	</div>

	<form method="POST" action="/add-todo">
		<input placeholder="Task name" name="title">
		<select name="priority">
			<option value="1">High priority</option>
			<option value="0" selected>Normal priority</option>
			<option value="-1">Low priority</option>
		</select>
		<button type="submit">Add task</button>
	</form>

	<script>
		const ws = new WebSocket('ws://localhost:3000');

		ws.addEventListener('message', (message) => {
			const payload = JSON.parse(message.data);
			if (payload.type === 'list') {
				document.getElementById('todoList').innerHTML = payload.html;
			}
  		});
	</script>
</body>
</html>
