body {
	font-family: sans-serif;
}

.todos {
	font-size: 1.5em;
}

.todo {
	list-style-type: '☐ ';
}

.todo.done {
	list-style-type: '☑ ';
	text-decoration: line-through;
}

.todo.low::before {
	content: '↓ ';
	color: green;
}

.todo.medium::before {
	content: '= ';
	color: orange;
}

.todo.high::before {
	content: '↑ ';
	color: red;
}

.todo a {
	color: black;
	text-decoration: none;
}

.todo a:hover {
	color: dimgray;
}
